
  <h2> Articles</h2><br>
  <h2><%= flash[:notice] if flash[:notice].present? %></h2><br>
  
  <%@articles.order(created_at: :desc).each do |article| %>
    <div class="row">
      <div class="col-xs-8">
          <div class="well well-lg">
            <div class="article_name"><%= article.name%></div>
            <div class="article_body">
              <%=truncate(article.description,length:10)%>
              <small>Created by <%= article.user.present? ? article.user.user_name : "Anonymous"  %></small> <small><%= time_ago_in_words(article.created_at)%> ago</small>
            </div>
            <div class="links"><%= link_to 'Edit',"/articles/edit/#{article.id}", class: "btn btn-xs btn-primary"%> </div>
            <div class="links"><span class="btn btn-xs btn-danger"><%= link_to 'Delete',controller: 'articles', action: "delete", id: article.id%></span></div>
          </div>
      </div>
    </div>
  
  <%end%>
  <%= image_tag("dp.jpg", height: '100', width: '100',alt: "no image")%>