<h2> Articles</h2><br>
<h2><%= flash[:notice] if flash[:notice].present? %></h2><br>
<table class="tab">
  <tr>
    <th>Name</th> 
    <th>Description </th>
  </tr>
<%@articles.each do |article| %>
  <tr>
    <td><%= article.name%></td>
    <td><%= article.description%></td>
    <td><%= link_to 'Edit',"/articles/edit/#{article.id}"%> |</td>
    <td><%= link_to 'Delete', controller: 'articles', action: "delete", id: article %> </td>
  </tr>
<%end%>
</table>
<%= image_tag("dp.jpg", height: '100', width: '100',alt: "no image")%>