
<div class="jumbotron">
    <p id="notice"><%= notice %></p>
    <%= image_tag(gravatar_image(User.find_by(email:"goku007ydv@gmail.com" || @user.email)))%>
    <h1><%= @user.user_name %></h1>
    <p><strong>Email:</strong></p>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
</div>