<p id="notice"><%= notice %></p>

<h1>Listing Test Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_articles.each do |test_article| %>
      <tr>
        <td><%= test_article.name %></td>
        <td><%= test_article.description %></td>
        <td><%= link_to 'Show', test_article %></td>
        <td><%= link_to 'Edit', edit_test_article_path(test_article) %></td>
        <td><%= link_to 'Destroy', test_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test article', new_test_article_path %>
