<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test_article.description %>
</p>

<%= link_to 'Edit', edit_test_article_path(@test_article) %> |
<%= link_to 'Back', test_articles_path %>
